# Functions

#### Warm up

In [1]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

clean_bands = [band.strip('., ').title() for band in bands]
print(clean_bands)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [2]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

clean_bands2 = [band.strip('., ').title() for band in bands2]
print(clean_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

##### User-Defined vs. Built-In Function

In [4]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [6]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello():
    print('Hello World')
    
print(say_hello)
say_hello

<function say_hello at 0x0000024BAC1BB550>

In [7]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [9]:
# Executing a function
# Syntax: function_name()

print('Before Executing')
say_hello() # Executing the function - don't forget the ()
print('After Executing')

Before Executing
Hello World
After Executing

In [ ]:
 # DRY Principle - Don't Repeat Yourself

##### Accepting Parameters

In [15]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello_again(first, last): # <- first and last are parameters (aka placeholders)
    print(f"Hello {first} {last}")

# Execute
# Syntax: function_name(data1, data2)
say_hello_again("Brian", "Stanton") # <- 'Brian' and 'Stanton' are arguments (aka real data)
say_hello_again("Stanton", "Brian") # Postition Matters!

Hello Brian Stanton
Hello Stanton Brian

##### Passing in variables as parameters

In [27]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02215'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '10451'


# Function to format our addresses -> City, State - Zip Code

def format_address(city, state, zip_code):
    print(f"{city}, {state} - {zip_code}")
    
    
format_address("Chicago", "IL", "60606")
format_address(city1, state1, zip_code1)
format_address(city2, state2, zip_code2)

Chicago, IL - 60606
Boston, MA - 02215
New York, NY - 10451

In [25]:
def set_up_mail(first_name, last_name, address, city, state, zip_code):
    print(f"""
{first_name.title()} {last_name.title()}
{address.title()}
{city.title()}, {state.upper()} {zip_code}
    """)
    
first = input('What is your first name? ')
last = input('What is your last name? ')
address = input('What is your address? ')
city = input('In which city do you live? ')
state = input('What is the state postal code? ')
zip_code = input('What is your zip code? ')

set_up_mail(first, last, address, city, state, zip_code)

What is your first name? brian
What is your last name? stanton
What is your address? 123 real street
In which city do you live? chicago
What is the state postal code? il
What is your zip code? 60632

Brian Stanton
123 Real Street
Chicago, IL 60632

##### Keyword Arguments

In [28]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have made a payment of ${amount_paid} to Account #{account_number}.")
    print(f"Your new balance due is ${new_total}")
    print("Thank you for the payment")
    
make_a_payment(1000, 100, '2348905')

You have made a payment of $100 to Account #2348905.
Your new balance due is $900
Thank you for the payment

In [29]:
make_a_payment(account_number='48574857', total_amount_due=2000, amount_paid=500)

You have made a payment of $500 to Account #48574857.
Your new balance due is $1500
Thank you for the payment

In [32]:
make_a_payment(3000, account_number='3873984', amount_paid=2999)

You have made a payment of $2999 to Account #3873984.
Your new balance due is $1
Thank you for the payment

In [34]:
# Positional argument MUST come first
# make_a_payment(account_number='83483468', amount_paid=150, 500) # Syntax Error!

##### Default Parameters

In [48]:
# default parameters need to be AFTER non-default at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=''):
    total_price = 4.50
    message = f'Thank you {customer_name}. Here is your receipt:\n'
    message += '1 Hamburger\n'
    if cheese:
        message += '\twith cheese\n'
    if lettuce:
        message += '\twith lettuce\n'
    if tomato:
        message += '\twith tomato\n'
    if onions:
        message += f'\twith {onions} onions\n'
        total_price += .50
    message += f'Total: ${total_price:.2f}'
    print(message)
    
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [49]:
make_a_burger('Claire', False, True, False)

Thank you Claire. Here is your receipt:
1 Hamburger
	with lettuce
Total: $4.50

In [52]:
make_a_burger('Dave', True, True, True, 'grilled')

Thank you Dave. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
Total: $5.00

In [51]:
make_a_burger('Dave', onions='grilled')

Thank you Dave. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
Total: $5.00

In [53]:
make_a_burger('Jennifer', onions='grilled', tomato=False)

Thank you Jennifer. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with grilled onions
Total: $5.00

In [46]:
print('Hello')
print('\tHello')

Hello
	Hello

##### \*args and **kwargs

In [54]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [57]:
max(1, 2, 3, 4, 5, 2, 4, 3, 6, 7, 2, 3, 6, 7, 2, 6, 7, 3, 5, 6, 4)

7

In [70]:
def my_function(arg1, arg2, *args, **kwargs):
    print(arg1)
    print(arg2)
    print(args)
    print(type(args))
    print(kwargs)
    print(type(kwargs))
    
    
my_function('a', 'b', 'c', 'd', 'e', key='value', num=10)

a
b
('c', 'd', 'e')
<class 'tuple'>
{'key': 'value', 'num': 10}
<class 'dict'>

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [16]:
cars = [
    ('blue', 'toyota', 'tundra'), 
    ('green', 'chevy', 'silverado'), 
    ('pink', 'ford', 'f-150'), 
    ('red', 'ford', 'mustang'),
    ('yellow', 'toyota', 'prius')
]

def format_car(color, make, model):
    print(f"{color.title()} {make.title()} {model.title()}")
    

for car in cars:
    format_car(car[0], car[1], car[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

In [17]:


# for car in cars:
#     print(*(val.title() for val in car))

In [18]:
for c, ma, mo in cars:
    format_car(c, ma, mo)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150
Red Ford Mustang
Yellow Toyota Prius

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

##### Returning Values

In [ ]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

In [ ]:
# Return will also immediately terminate the function

#### Multiple returns in a function

##### Difference between `return` and `print`

#### Functions with Lists

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [ ]:
cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

#### Docstrings

#### Whiteboard Approach

1. What are the input(s)?
2. What are the output(s)?
3. Consider constraints and edge cases
4. Write out steps logically (No python)
5. Pseudocode
6. Code

#### Whiteboard Example

Find Even numbers<br>
Create a function that, given a list as a parameter, finds the even numbers <br>
inside the list. The function should then return a list.<br>
Bonus: Use a list comprehension to find your solution<br>
Example:<br>
Input: [2, 7, 10, 11, 12]<br>
Output: [2, 10, 12]<br>